*main{
    margin: 0%;
    padding: 0%;
}
.main{
    height:2500px;
    width:1614px;
    background-color: white;
    background-size: cover;
display: flex;
flex-flow: wrap;


}
.logo{
    height: 330px;
    width: 325px;
    
    font-size: 50px;
    color: red;

}

.menu {
    height: 120px;
    width: 1000px;
line-height: 120px;
text-align: center;

}
ul li{
    list-style: none;
    display: inline-flex;
    width:170px;
    font-size: 30px;
    text-transform: uppercase;
    
}
a{
    text-decoration: none;
    color: black;
}
.benz{
    
    position: absolute;
    left: 100px;
    top: 400px;
    color: blue;
}
.inform{
    position: absolute;
    top: 450px;
    left: 50px;
    font-family: sans-serif;
}
.img1{
    position: absolute;
    top: 200px;
    left: 1200px;
}




.img2{
    height: 500px;
    width: 500px;
    position: absolute;
    top: 730px;
    left: 1000px;
    border: 2px solid black;
}
.informimg2{
 position: absolute;
   top:750px;
left:70px;    
color: red;
}
.informimg-2{
    position: absolute;
    top: 800px;
    left: 100px;
    font-family: sans-serif;
}
.informimg-2:hover{
    background-color: cadetblue;
}


